<header class="navbar">
  <div class="brand" routerLink="/" style="cursor: pointer;">
    <span class="title">SummarizeMeets</span>
  </div>

  <div class="nav-actions">
    <a routerLink="/" class="btn-text" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nova
      Análise</a>
    <a routerLink="/history" class="btn-text" routerLinkActive="active">Histórico</a>
    @if (isAuthenticated) {
      <span class="user-name">{{ currentUser?.name }}</span>
      <button class="btn-primary" (click)="onLogout()">Sair</button>
    } @else {
      <button class="btn-primary" (click)="onLoginClick()">Login</button>
    }
  </div>
</header>