GEMINI_API_KEY=GEMINI_API_KEY

# Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/summarizemeets?schema=public"

JWT_SECRET=6d3bdc92aaebd0082077cc61ccbf6baa01b3aa257272ce365026964d173580fc